<div class="footer">
    <div>
        <ul>
            <li>
                <a href="{{ site.url }}/product.html" class="product"></a>
                <h1>PRODUCTS</h1>
            </li>
            <li>
                <a href="{{ site.url }}/about.html" class="about"></a>
                <h1>OUR STORY</h1>
            </li>
            <li>
                <a href="{{ site.url }}/product.html" class="flavor"></a>
                <h1>FLAVORS</h1>
            </li>
            <li>
                <a href="{{ site.url }}/contact.html" class="contact"></a>
                <h1>OUR LOCATION</h1>
            </li>
        </ul>
    </div>
</div>